// colors
$color-primary: #1a3c90;
$color-secondary: #f5f5f5;
$input-bg-color: #D9D9D9;
$card-bg-color: #E5E5E5;
$white: #fff;
$black: #000;
$gray: #ccc;


// components classes
.text-primary,
.text-color-primary {
  color: $color-primary !important;
}
.btn-all {
    background-color: $color-primary;
    color: $white;
    border-radius: 5px;
    padding: 10px;
    height: 50px;
}

.btn-main {
    background-color: $color-primary;
    color: $white;
}

.mh-500 {
    min-height: 500px;
}

/* toggle-button */
.knobs {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2;
}
.layer {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: $white;
	transition: 0.3s ease all;
	z-index: 1;
}
.toggle-button {
	position: relative;
	top: calc((100% - 36px) / 2);
	width: 74px;
	height: 36px;
	// margin: -20px auto 0 auto;
	overflow: hidden;
	.knobs {
		&:before {
			content: "NO";
			position: absolute;
			top: 4px;
			left: 4px;
			width: 26px;
			height: 26px;
			color: $black;
			font-size: 10px;
			font-weight: bold;
			text-align: center;
			line-height: 1;
			padding: 9px 4px;
			background-color: $gray;
			border-radius: 50%;
			transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
			transition: 0.3s ease all;
		}
		transition: 0.3s ease all;
	}
	.checkbox {
		&:checked {
			+ {
				.knobs {
					&:before {
						content: "YES";
						left: 42px;
						background-color: $white;
					}
				}
			}
			~ {
				.layer {
					background-color: $color-primary;
				}
			}
		}
	}
	.layer {
		transition: 0.3s ease all;
	}
}
.toggle-button.r {
	border-radius: 100px;
	.layer {
		border-radius: 100px;
	}
}
.toggle-button.b2 {
	border-radius: 2px;
}
.checkbox {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	opacity: 0;
	cursor: pointer;
	z-index: 3;
}



// section login, forgot-password

#login,
#sign-up,
#forgot-password {
    .logo-img {
        width: 50%;
        height: auto;
    }

    .float-revert {
        float: revert
    }

    input[type="text"],
    input[type="email"],
    input[type="password"] {
        height: 50px;
        border-radius: 5px;
        border: 1px solid $gray;
        padding: 10px;
        background-color: $input-bg-color;
        color: $black;

        &::placeholder {
            color: $color-primary;
            opacity: 1;
            /* Firefox */
        }

        &:-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            color: $color-primary;
        }

        &::-ms-input-placeholder {
            /* Microsoft Edge */
            color: $color-primary;
        }
    }
}

// section#dashboard

section#dashboard {
    .card {
        height: 250px;
        background-color: $card-bg-color;
        &:hover {
            background-color: $color-primary;
            color: $white;
        }
    }
}

// section#new-discography-header

section#new-discography-header {
    .card {
        min-height: 150px;
        background-color: $card-bg-color;
    }
}

.search {
    .form-outline {
        width: calc(100% - 46px);
    }
}